.bg{
   background-image: linear-gradient(to bottom, #DADADA 768px, rgb(237, 195, 12) 100%);
}

.block-home {
	text-align: center;
}

.block-book {
	width: 50%;
	margin-top: 70px;
}

label {
    
    width: 20%;
    text-align: right;
    margin-right: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

 .round-button,.round-btn-view, .round-btn-book, .round-btn-cancel {
    background-color: rgba(125, 204, 193, 0.78);
    border-radius: 3.5em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    outline: 0px none;
    padding: 0px 2em;
    position: inherit;
    text-align: center;
    text-decoration: none;
    -moz-appearance: none;
    border-style: none;
    /*transition: all 0.2s ease-in-out 0s;*/
    transition: all 0.3s cubic-bezier(0,3.44,1,-1.23) 0s;
}


.round-button:hover, .round-btn-book:hover{
    background-color: #63B357;
    color: #FFF;
    text-align: center;
    position: inherit;
    text-decoration: none;
}
.round-btn-view:hover{
    background-color: #5992D4;
    color: #FFF;
    text-align: center;
    position: inherit;
    text-decoration: none;
}
.round-btn-cancel:hover{
    background-color: #F86161;
    color: #FFF;
    text-align: center;
    position: inherit;
    text-decoration: none;
}

form {
	text-align: center;
}

.block-home {
    margin-top: 15%;
}

.back-button {
    margin: 10px 10px 0 10px;
}
#buttons {
    margin-top: 10px;
    float: right;
    margin: 10px 20px 10px 0;
    position: ;
}
.booksys{
color: rgba(0, 0, 0, 0.40);
font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
font-size: 25px;
text-align: center;
position: absolute;
margin: 10px 10px 0 10px;
font-weight: bold;
}
.booksys:hover{
    /*color: #63B357;*/
    color: rgba(0, 0, 0, 0.80);
    position: absolute;
    text-align: center;
    transition: all 1s ease-in-out 0s;
    font-weight: bold;
}