/*.bg {
   background-image: linear-gradient(to bottom, #5CB85C 200px, #419641 100%);
   background-size: 100% 100%;
   background-repeat: no-repeat;

}

.header {
	margin: 15% 0px 0 0;
	font-weight: bolder;
	box-shadow: 5px 5px 5px 0;
}

.tagline {
	margin: 2% 0px 0 0;
}

h1 {
	font-size: 400%;
}

.content {
	margin-bottom: 19.7%;
}

.back-button {
	margin: 5px 0 0 10px;
}
*/
.bg {
	background-image: linear-gradient(to bottom, #5CB85C 200px, #419641 100%);
}

.block-home {
	text-align: center;
}

.block-book {
	text-align: center;
}