{% extends "base.html" %}
<!-- {% load staticfiles %}
{% block extrastyle %}
	<link rel="stylesheet" href="../../static/css/jquery-ui.css">
	<link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/jquery-ui.js"></script>
    <script src="../../static/js/jquery-1.10.2.js"></script>
		

{% endblock %} -->

{% block content %}
	<div class="block-book">
		<h1>Book Hall</h1>
		<form method="POST" action=""> {% csrf_token %}
			{{ form.as_p }}
			<input type='submit' value='Proceed' class='btn' />
		</form>
	</div>
{% endblock %}