{% extends "base.html" %}
{% block title %}Booking System{% endblock %}
{% block content %}
<div class="block-home">
	<h1 class="header"> Welcome to Booking System</h1>
	<p class="tagline"> Everything is getting online... but still booking halls manually??? Here is the solution.
	</p>

	<p>
	<div class="buttons">
	<a href="view" class="round-btn-view">View Bookings</a>
	<a href="book" class="round-btn-book">Book Hall</a>
	<a href="cancel" class="round-btn-cancel">Cancel/Reschedule</a>
	</div>
	</p>
</div>
{% endblock %}