<!DOCTYPE html>

<html class="bg">
	<head>
		<!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
 -->		<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

		<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
		<script type="text/javascript">window.__admin_utc_offset__ = "19800";</script>

		<script type="text/javascript" src="/admin/jsi18n/"></script>
		<script type="text/javascript" src="/static/admin/js/core.js"></script>
		<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
		<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
		<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
		<script type="text/javascript" src="/static/admin/js/actions.js"></script>
		<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
		<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
		
		<link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="../static/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
		<link href="../static/css/main.css" type="text/css" rel="stylesheet">

	
	</head>
	<body>

   
		<a href='{% url "home" %}' class="btn btn-primary btn-sm back-button" title="Works only if localhost port is 8000">Home</a>
		
		{% if user.is_anonymous %}
			<a href='/accounts/login/' class="btn btn-primary btn-sm back-button">Login</a>
		{% else %}	
			<a href="{% url 'home.views.logout_view' %}" class="btn btn-primary btn-sm back-button">Logout</a>
		{% endif %}

		{% block content %}

		{% endblock %}
		
	</body>
</html>
