{% load i18n %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

	<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	
	<style>
		label {
			display: inline-block;
			width: 5em;
		}

		fieldset {
			border: 0;
		}
		/*label, label#id_start_time{
		display: block;
		margin: 10px 0 0 0;
		}*/
		select ,.vDateField, #id_start_time, #id_end_time, #id_event_name, #id_name, #id_email {
			width: 200px;
		}
		.overflow {
			height: auto;
		}
	</style>
		
	{% block extrastyle %}{% endblock %}
	

</head>
<body class="bg">
<!--

 Fixed navbar 

-->
	<nav class="navbar navbar-default navbar-fixed-top">
	
		<span id="buttons"><a href='{% url "home" %}' class="btn btn-primary btn-sm back-button" title="Homepage">Home</a>
		
		{% if user.is_anonymous %}
			<a href="{% url 'home.views.home' %}" class="btn btn-primary btn-sm back-button" title="Login">Login</a>
		{% else %}	
			<a href="{% url 'home.views.logout_view' %}" class="btn btn-primary btn-sm back-button" title="Logout">Logout</a>
		{% endif %}
		</span>
		<span class="booksys">Booking System</span>
	</nav>
    <div class="container">
<!--

 /container 

-->
	{% block content %}

	{% endblock %}

	</div>

	<script src="{% static 'bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>

	<script type=text/javascript>
		$(function() {
			$( "#id_date" ).datepicker({
				changeMonth: true, //this option for allowing user to select month
				changeYear:  true, //this option for allowing user to select from year range
	            dateFormat: 'yy-mm-dd'
			});
		});


	    $(function() {
			$( "#id_hall" ).selectmenu()
			.selectmenu( "menuWidget" )
			.addClass( "overflow" );
			});

		// $(function() {
		// 	$('#id_start_time').timepicker({ 'forceRoundTime': true }).removeClass( "overflow")
		// });

		$(function() {
		$( document ).tooltip();
		});
	</script>
	
</body>
</html>


